
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_LayoutPublicClean.cshtml";
}

<div style="width: 50%; margin: 30px auto;">
    <a href="./ViewCode">Return back to home page</a>

</div>


<div style="width: 50%; margin: 30px auto;">

    
    <video controls="controls" autoplay style="width: 100%;">
        <source src="~/Content/miPhotoShareHelp.mp4" type="video/mp4" />
        Your browser does not support HTML5 videos.
    </video>
</div>
